<link rel="stylesheet" href="/css/user_sign_up.css">




<div class="form-box">
    <form class="form" method="POST" action="/users/create">
        <span class="title">Sign up</span>

        <div class="form-container">
          <input type="text" name = "name" class="input" placeholder="Name" required>
                <input type="email" name = "email" class="input" placeholder="Email" required >
                <input type="password" name = "password" class="input" placeholder="Password" required>
                <input type="password" name = "confirmpassword" class="input" placeholder="confirm-Password" required>
        </div>
        <button>Sign up</button>
    </form>
    <!-- <div class="form-section">
      <p>Have an account? <a href="">Log in</a> </p>
    </div> -->
    </div>